<br>
<div class="container border border-primary" style="overflow: hidden; border-radius: 10px;">
    <div class="row bg-primary text-light">
        <div class="col-md-12">
            <h3>Welcome</h3>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12"><img class="col-md-12 img-fluid" src="{{'http://lorempixel.com/400/200/' | http: 'https'}}"></div>
    </div>
    <br />
    <div class="row" style="background-color:#e3e1e1; padding: 10px 0px;">
        <div class="col-md-12">
            <h6>Created by PC <i class="fa fa-copyright" aria-hidden="true"></i> 2019</h6>
        </div>
    </div>
</div>